.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.item {
  display: block;
  width: 266px;
  height: 400px;
  margin: 10px;

  box-shadow: 0px 0px 10px 3px #ccc;
  border-radius: 10px;

  transition: 0.3s;
}
.item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 3px rgb(128, 125, 125);
}

.img {
  display: block;
  width: 266px;
  height: 400px;
  border-radius: 10px;
}
