.form {
  display: flex;
  margin: 15px 0px;
  justify-content: center;
}
.input {
  padding: 5px 20px;
  width: 33%;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}
.button {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  /* border: none; */
  border: 2px solid #ccc;

  background-color: #fff;

  cursor: pointer;
}
.icon {
  width: 20px;
  height: 20px;
}
